html {
	font-family: 'Courier New', Courier;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	/* FF3.6-15 */
	background: -moz-linear-gradient(20deg, #00b318 0%, #007dd1 99%);
	/* Chrome10-25, Safari5.1-6 */
	background: -webkit-linear-gradient(20deg, #00b318 0%, #007dd1 99%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(20deg, #00b318 0%, #007dd1 99%);
	/* IE6-9*/
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00b318', endColorstr='#007dd1', GradientType=1);
	background-attachment: fixed;
	overflow-x: hidden;
	color: #2f2f2f;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Courier New', Courier;
}

.title {
	text-align: center;
}

.jsTitleDiv {
	margin-left: auto;
	margin-right: auto;
	padding: 0px 1%;
	background-color: #F5F5F5;
	border-radius: 15px;
	width: max-content;
	height: max-content;
	box-shadow: 0px 1px 1px rgba(78, 78, 78, 0.5);
	font-size: 50px;
}


.menu {
	text-align: center;
	margin-bottom: 5%;
}

.jsMenuDiv {
	font-size: 25px;
}

.jsMenuDiv div .subTitle {
	margin-left: auto;
	margin-right: auto;
	padding: 0px 1%;
	background-color: #F5F5F5;
	border-radius: 10px;
	width: max-content;
	height: max-content;
	font-style: italic;
	box-shadow: 0px 10px 25px rgba(78, 78, 78, 0.5);
}

.jsMenuDiv div .subP {
	font-weight: bold;
}

.jsMenuDiv div {
	font-family: 'Courier New', Courier;
	padding-bottom: 2.5%;
}

.footer {
	margin-left: 0px;
	margin-bottom: 0px;
	position: absolute;
	width: 99vw;
	height: max-content;
	background-color: #2f2f2f;
	z-index: 0;
}

.footer div {
	width: max-content;
	height: max-content;
	border-radius: 10px;
	margin: 0px auto;
}

.footerelement:hover {
	background-color: #353535;
	text-decoration: underline;
	cursor: pointer;
}

.footer div p {
	color: #f2f2f2;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
}

.options {
	background-color: #2f2f2f;
	color: #f2f2f2;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
	padding: 5px;
	font-family: 'Courier New', Courier;
}

.options:hover {
	text-decoration: underline;
	background-color: #353535;
	cursor: pointer;
}

.listes {
	text-align: center;
	padding: 1%;
	margin-top: 1%;
	margin-bottom: 10%;
	font-family: 'Courier New', Courier;
}

#list {
	text-align: center;
}

.infoBox {
	height: max-content;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	max-width: 25vw;
	padding: 1%;
	text-align: center;
	background-color: #F5F5F5;
	border-radius: 10px;
}


.infoTitle {
	font-size: 20px;
}

.centerBox {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 30vh;
	height: max-content;
	width: max-content;
}

.infoSpacer {
	margin: 5vw 0px;
}