@media (min-width: 0) {
	.infoTitle {
		font-size: 2.7vmax;
	}

	.infoBody {
		font-size: 2vmax;
	}

	.infoBox {
		max-width: 50vw;
	}
}

@media (min-width:1100px) {

	.infoTitle {
		font-size: 2vmax;
	}

	.infoBody {
		font-size: 1.5vmax;
	}

	.infoBox {
		max-width: 30vw;
	}

}

html {
	font-family: 'Courier New', Courier;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
}

body {
	/* FF3.6-15 */
	background: -moz-linear-gradient(20deg, #00b318 0%, #007dd1 99%);
	/* Chrome10-25, Safari5.1-6 */
	background: -webkit-linear-gradient(20deg, #00b318 0%, #007dd1 99%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(20deg, #00b318 0%, #007dd1 99%);
	/* IE6-9*/
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00b318', endColorstr='#007dd1', GradientType=1);
	background-attachment: fixed;
	overflow-x: hidden;
	color: #202020;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Courier New', Courier;
	display: flex;
	flex-direction: column;
}

body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	/* FF3.6-15 */
	background: -moz-linear-gradient(20deg, #00b318 0%, #007dd1 99%);
	/* Chrome10-25, Safari5.1-6 */
	background: -webkit-linear-gradient(20deg, #00b318 0%, #007dd1 99%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(20deg, #00b318 0%, #007dd1 99%);
	/* IE6-9*/
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00b318', endColorstr='#007dd1', GradientType=1);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.title {
	text-align: center;
}

.jsTitleDiv {
	margin-left: auto;
	margin-right: auto;
	padding: 0 1%;
	background-color: #F5F5F5;
	border-radius: 0.7vmax;
	width: max-content;
	height: min-content;
	box-shadow: 0 0.7vmax 3vmax rgba(78, 78, 78, 0.534);
	font-size: 3.7vmax;
}


.menu {
	text-align: center;
	margin-bottom: 5%;
}

.jsMenuDiv {
	font-size: 2vmax;
}

.jsMenuDiv div .subTitle {
	margin-left: auto;
	margin-right: auto;
	padding: 0 1%;
	background-color: #F5F5F5;
	border-radius: 0.7vmax;
	width: max-content;
	height: min-content;
	font-style: italic;
	box-shadow: 0 10px 25px rgba(78, 78, 78, 0.5);
}

.jsMenuDiv div .subP {
	font-weight: bold;
}

.jsMenuDiv div {
	font-family: 'Courier New', Courier;
	padding-bottom: 2.5%;
}

.footer {
	margin-top: auto;
	width: 100vw;
	height: max-content;
	background-color: #2f2f2f;
	z-index: 0;
}

.footer div {
	width: max-content;
	height: min-content;
	border-radius: 0.7vmax;
	margin: 0 auto;
	text-align: center;
}

.footer div p {
	color: #f2f2f2;
	font-size: 1.5vmax;
	padding: 1vmax;
	border-radius: 0.7vmax;
}

.footerelement:hover {
	background-color: #353535;
	text-decoration: underline;
	cursor: pointer;
}

.footerelement {
	margin: 1vmax;
	font-size: 1.5vmax;
}

.options {
	background-color: #2f2f2f;
	color: #f2f2f2;
	font-size: 1.5vmax;
	border: 0;
	border-radius: 0.7vmax;
	padding: 1vmax;
	font-family: 'Courier New', Courier;
}

.options:hover {
	text-decoration: underline;
	background-color: #353535;
	cursor: pointer;
}

.listes {
	text-align: center;
	padding: 1%;
	margin-top: 1%;
	margin-bottom: 10%;
	font-size: 1.5vmax;
	font-family: 'Courier New', Courier;
}

#list {
	text-align: center;
}

.centerBox {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 10%;
	height: max-content;
	width: max-content;
}

.infoSpacer {
	margin: 5vw 0;
}

.infoBox {
	height: max-content;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #F5F5F5;
	border-radius: 0.7vmax;
	padding: 1vmax;
}